<li class="dropdown topbar-user">
  <a data-hover="dropdown" href="<%= url %>" class="dropdown-toggle">
    <%= image_tag avatar_url %>
    <span class="hidden-xs"><%= user_name %></span>&nbsp;
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-user pull-right">
    <%= content %>
  </ul>
</li>
